html, body {
    overflow-x: hidden;
    width: 100%;
    background-color: rgb(217 214 255);
    font-family: 'Courgette', cursive;
}
*, h1, footer {
    font-family: 'Courgette', cursive;
    margin: 5px;
    
}
footer{
    clear: both;
    text-align: center;
    font-size: 29px;
}
button{
    width: 85px;
    height: 37px;
    border-radius: 19%;
}